@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.card-1 {
    background-image: url("./images/background-01-04.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* height:max-content; */
}

/* .card-2 {
    background-image: url("./images/background-01-04.png");
    background-size: cover;
    background-position: center;
} */

/* .gradient {
    border: 2px;
    border-color: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);
    border-color: ;
} */

.card-3 {
    background-image: url("./images/2nd\ bg-04.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* height:max-content; */
}

